<div class="container-fluid">
  <form class="form" ng-submit="pay()">
    <div class="row-fluid">

      <div class="span3">
        <div class="well sidebar-nav">
          <input class="input-medium" type="text" placeholder="Payment name"
                 ng-model="newPayment.name">

          <div class="input-append">
            <input class="input-medium" type="text" placeholder="total"
                   ng-model="newPayment.total" required>
            <span class="add-on">$</span>
          </div>

          <!--we should use parent to fix scope visibility in directive-->
          <input class="input-medium"  type="text" placeholder="Date" ng-model="$parent.newPayment.date"
                  datepicker="{{ config.dateFormat }}" required>

          <div class="row-fluid">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>

        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Payer</li>
            <li ng-repeat="participant in event.participants">
              <label class="radio inline">
                <input type="radio" name="participants" ng-model="newPayment.payer" value="{{ participant.id }}"
                       required>
                {{ participant.name }}
              </label>
            </li>
          </ul>
        </div>
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Participants</li>
            <li ng-repeat="participant in event.participants">
              <label class="checkbox inline">
                <input type="checkbox" ng-model="participants[participant.id]"
                       value="{{ participant._id.$oid }}"> {{ participant.name }}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="span6">
        <div class="well">
          <h2>Event: {{ event.name }}</h2>

          <div class="accordion" id="reports">
            <div class="accordion-group" ng-repeat="report in event.report">
              <div class="accordion-heading">
                <div class="row-fluid">
                  <div class="span2 fix30">
                    <span class="label label-important">-{{ report.result.total_debit }}$</span>
                    <br>
                    <span class="label label-success">+{{ report.result.total_credit }}$</span>
                  </div>
                  <div class="span4 fix70">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#reports"
                       href="#{{ report.participant.id }}">
                      {{ report.participant.name }}
                    </a>
                  </div>
                </div>
              </div>
              <div id="{{ report.participant.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <table class="table table-hover table-bordered" ng-show="report.result.credit.length">
                    <caption>Credits</caption>
                    <thead>
                    <tr>
                      <th>Whom</th>
                      <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="success" ng-repeat="credit in report.result.credit">
                      <td>{{ credit.name }}</td>
                      <td>{{ credit.total }}</td>
                    </tr>
                    </tbody>
                  </table>
                  <hr ng-show="report.result.credit.length">
                  <table class="table table-hover table-bordered" ng-show="report.result.debit.length">
                    <caption>Debits</caption>
                    <thead>
                    <tr>
                      <th>Who</th>
                      <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="error" ng-repeat="debit in report.result.debit">
                      <td>{{ debit.name }}</td>
                      <td>{{ debit.total }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list" id="participants-list">
            <li class="nav-header">Payments</li>
            <li ng-repeat="payment in event.payments">
              <a href=""  data-title="{{ payment.name }}" data-toggle="popover" data-content="payer/participants info"
                 data-placement="right">
                <span class="text-success">{{ payment.date.$date|date:config.dateFormatAngular }}</span>
                <span class="badge badge-success">{{ payment.total }}$</span>
                <!--/-->
                <!--<span class="badge badge-success">{{ payment.participants.length }}</span>-->
                <i class="icon-user" ng-repeat="participant in payment.participants"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </form>
</div>
